{#
  /**
   * Template to display the audience menu block.
   */
#}
<nav id="audience-menu" class="audience-menu accessible-menu" data-item-open-text="Open the %s menu" data-item-close-text="Close the %s menu">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
