{#
  /**
   * Template to display Drupal 8 search form.
   */
#}
<div class="site-search">
  <button class="site-search__toggle" data-button-open-text="{{ 'Open the search panel'|t }}" data-button-close-text="{{ 'Close the search panel'|t }}" data-button-enable-at="1024" data-button-open-class="search-panel-open">
    <span class="show-for-sr"></span>
  </button>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
