{% import "@oho_base/includes/oho-macros.html.twig" as oho_macros %}
<nav id="main-menu" class="main-menu accessible-menu" data-item-open-text="Open the %s menu" data-item-close-text="Close the %s menu">
  {{ oho_macros.field_list(content.field_mmb_mega_menu_items) }}
</nav>
