<article class="listing-item">
  <div class="grid-x grid-margin-x">
    <div class="cell initial-12 medium-4 medium-order-1">
      {{ content.field_itn_source }}
    </div>
    <div class="cell initial-12 medium-8">
      <div class="listing-item__content">
        <h3 class="listing-item__title"><a href="{{ content.field_itn_article_link }}">{{ label }}</a></h3>
        <p class="listing-item__date date">{{ content.field_itn_publish_date }}</p>
      </div>
    </div>
  </div>
</article>
