////
/// @group components
/// Styles for stat blocks.
////

.section--stat-block {
  text-align: center;

  .section-heading__subheading {
    font-family: $sans-serif;
    font-weight: 100;
  }
}

.oho-stat-block {
  float: left;
  width: 100%;
  padding: 20px 0 50px;
  text-align: center;

  .oho-stat {

    @include breakpoint(small only) {
      padding: 20px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    @include breakpoint(medium) {
      border-left: 1px solid #cccccc;

      &:last-child {
        border-right: 1px solid #cccccc;
      }
    }
  }

  // Optional: Stats may not have a title
  .oho-stat__title {
    font-size: 24px;
  }

  .oho-stat__value {
    padding: 10px 0;
    font-size: 72px;
    line-height: 1;

    @include breakpoint(medium only) {
      font-size: 55px;
    }
  }

  .oho-stat__desc {
    font-size: 24px;
    line-height: 1.2;

    // Optional: Description may be in paragraph form
    p {
      margin: 0;
      line-height: 1.4;
    }

    @include breakpoint(medium only) {
      font-size: 20px;
    }
  }

  .slick-slide {
    padding: 0 45px;

    @include breakpoint(medium only) {
      padding: 0 20px;
    }

    @include breakpoint(small only) {
      padding: 0 25px;
    }
  }

  .slick-list {
    margin: 0 50px;
    // overwrite slick js assigned styles
    padding: 0 !important; // stylelint-disable-line
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;

    h2 {
      display: none;
    }

    .slick-slide {
      min-height: 160px;
    }

    @include breakpoint(small only) {
      border: none;
    }
  }

  .slick-center {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;

    @include breakpoint(small only) {
      border: none;
    }
  }

  .slick-track .slick-active:first-child {
    background-color: #0000ff;
  }

  .field-name-field-hc-statistic-link a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 45px 8px 35px;
    transition: 200ms all ease;
    text-transform: uppercase;
    color: $white;
    background-color: #333333;
    background-image: url('../img/btn-arrow-white.png');
    background-repeat: no-repeat;
    background-position: 93% center;
    font-size: 12px;

    &:hover {
      transition: 200ms all ease;
      background-position: 95%;
    }
  }

  .slick-prev {
    left: -8px;

    @include breakpoint(small) {
      left: 8px;
    }
  }

  .slick-next {
    right: -8px;

    @include breakpoint(small) {
      right: 8px;
    }
  }
}
