////
/// @group components
/// Styles for tabs.
////

.tabs {

  @include breakpoint(small down) {

    // Set the buttons to not display even though we remove them from the DOM,
    // to avoid a flash before the JavaScript removes them.
    &__buttons {
      display: none;
    }
  }

  @include breakpoint(medium) {

    &__buttons {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      // When JavaScript doesn't load for some reason, hide the buttons.
      :root:not(.oho-js) & {
        display: none;
      }

      li + li {
        margin-left: 1em;
      }
    }

    &__button {
      margin-bottom: -.0625em;
      border: .0625em solid $primary-color;

      &[aria-selected='true'] {
        color: $primary-color;
        border-bottom-color: $white;
        background-color: $white;
      }
    }

    .accordion {
      @include clearfix;
      display: block;
      margin-top: 0;
      padding: 1.75em;
      border: .0625em solid $primary-color;

      &[aria-hidden='true'] {
        display: none;
      }

      // Set the button to not display even though we remove it from the DOM, to
      // avoid a flash before the JavaScript removes it.
      &__button {
        display: none;

        // When JavaScript doesn't load for some reason, show the button.
        :root:not(.oho-js) & {
          display: block;
        }
      }
    }
  }
}
