////
/// @group components
/// Styles for tags lists.
////

.tags {

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $sans-serif;
  }

  li {
    display: inline-block;

    & + li {
      margin-left: .25em;
    }

    &:nth-last-child(n+2):after {
      content: ',';
    }
  }

  section + & {
    margin-top: 2rem;
    padding-top: 2rem;
    background-image: linear-gradient(to right, $gray--dark 0, $gray--dark 4em, transparent 4em); // stylelint-disable-line
    background-repeat: no-repeat;
    background-size: 100% .0625em;
  }
}
