////
/// @group D8
/// Pagination styles for Drupal 8.
////

/// Base Styles
/// -----------
.pager {
  margin-top: 4rem;
  font-family: $sans-serif;
  font-size: 1.25rem;

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-left: .25em;
  }

  a {
    display: block;
    padding: 0 .5em;
    transition: color $primary-transition;

    &:hover {
      text-decoration: none;
      color: $primary-color--dark;
    }
  }

  .is-active a {
    color: $text-color;
    font-weight: 600;
  }

  // Hide the aria-hidden text from view.
  [aria-hidden='true'] {
    display: none;
  }

  /// Icon Pagers
  /// -----------
  [class*='pager__item--'] a {

    &:before {
      @include font-awesome;
    }
  }

  &__item {

    &--first a:before {
      content: fa-content($fa-var-chevron-double-left);
    }

    &--previous a:before {
      content: fa-content($fa-var-chevron-left);
    }

    &--next a:before {
      content: fa-content($fa-var-chevron-right);
    }

    &--last a:before {
      content: fa-content($fa-var-chevron-double-right);
    }
  }

  /// Mobile
  /// ------
  /// Hide page numbers and the ellipsis on mobile.
  @include breakpoint(tiny down) {

    &__item:not([class*='pager__item--']),
    &__item--ellipsis {
      display: none;
    }
  }
}
