{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {% set row_attributes = row.attributes.addClass(row_classes)|render %}
  {% if row_attributes %}
    <div{{ row_attributes }}>
      {{ row.content }}
    </div>
  {% else %}
    {{ row.content }}
  {% endif %}
{% endfor %}
